@page
@model ListifyWebApp.Pages.Page3Model
@{
    
}
<link href="~/css/Page3.css" rel="stylesheet" />
<div id="displaybox">

    @foreach (var listify in Model.Listifies)
    {
        <form method="post" asp-route-id="@listify.Id">
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home" asp-for=@listify.Id name="Id">@listify.Name</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">@listify.tasks</a>
                        <button type="submit"  >Edit/Delete</button>

                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">@listify.tasks</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">@listify.tasks</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                </div>
            </div>
        </div>
        </form>


    }
</div>
<aside>
    <div class="addbutton"><button class="btn btn-primary" type="submit"><a asp-page="Page2" role="button">Add List / Edit list</a></button></div>
</aside>





