@page
@model ListifyWebApp.Pages.Page3Model
@{
    
}
<link href="~/css/Page3.css" rel="stylesheet" />
<div id="displaybox">

    @foreach (var listify in Model.Listifies)
    {
        
        <form method="post" asp-route-id="@listify.Id">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary">
                    Edit
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropright</span>
                </button>
                <div class="dropdown-menu">
                    @foreach (Models.ItemTask item in listify.tasks)
                    {
                        <p>@item.TaskDescription</p>
                    }
                    <!-- Dropdown menu links -->
                </div>
            </div>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home" asp-for=@listify.Id name="Id">@listify.Name</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">@listify.tasks</a>
                        <button type="submit"  >Edit/Delete</button>

                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">@listify.tasks</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">@listify.tasks</a>
                </div>
            </div>
        </div>
        </form>


    }
</div>





